window#osd {
  border-radius: 999px;
  border: none;
  background: rgba(30, 30, 46, 0.8); /* base with 80% opacity */
}

window#osd #container {
  margin: 16px;
}

window#osd image,
window#osd label {
  color: #cdd6f4; /* text */
}

window#osd progressbar:disabled,
window#osd image:disabled {
  opacity: 0.5;
}

window#osd progressbar {
  min-height: 6px;
  border-radius: 999px;
  background: transparent;
  border: none;
}

window#osd trough {
  min-height: inherit;
  border-radius: inherit;
  border: none;
  background: rgba(205, 214, 244, 0.5); /* text with 50% opacity */
}

window#osd progress {
  min-height: inherit;
  border-radius: inherit;
  border: none;
  background: #89b4fa; /* blue */
}

